#main{
	/*padding-top: 120px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;*/
	padding-top: 100px;
}
#slider{
	background: rgb(236,231,228);
}
#slider_picture{
	width: 75%;
	float: left;
}
#slider_picture>img{
	width: 100%;
	height: auto;
}
#slider_info_wrapper{
	width: 25%;
	height: 100%;
	float: left;
}	
#slider_info{
	padding: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#slider_info>span{
	width: 100%;
	height: 50px;
	font-size: 150%;
	letter-spacing: 5px;
	/*text-align: center;*/
	color:rgb(147,126,99);
	display: block;
}
#slider_info>p{
	width: 100%;
	height: 50px;
	font-size: 80%;
	line-height: 20px;
	letter-spacing: 3px;
	color:rgb(164,145,120);
	display: block;	
	text-align: justify;
}
#sidebar{
	padding-top: 20px;
}
#sidebar_title{
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(224,224,224);
}
#sidebar_title>span{
	line-height: 30px;
	letter-spacing: 3px;
	color:rgb(100,100,100);
}
.siderbar_arrow{
	width: 5%;
	height: 250px;
	float: left;
}
/*.siderbar_arrow img{
	width: 25px;
	height: auto;
}
#siderbar_arrow_r{
	margin-top: 100px;
	margin-left: 10px;
}
#siderbar_arrow_l{
	float: right;
	margin-top: 100px;
	margin-right: 10px;
}*/
#slider_arrow_left{
	width: 30px;
	height: 52px;
	float: right;
	margin-top: 100px;
	margin-right: 10px;
	border:none;
	outline:none;
	cursor: pointer;
	background: url("../images/sidebar_arrow_left.png") no-repeat;
	background-size: 100% auto;
	transition: background 0.5s;
}
#slider_arrow_left:hover{
	background: url("../images/sidebar_arrow_left_2.png") no-repeat;	
	background-size: 100% auto;
	transition: background 0.5s;
}
#slider_arrow_right{
	width: 30px;
	height: 52px;
	margin-top: 100px;
	margin-left: 10px;
	border:none;
	outline:none;
	cursor: pointer;
	background: url("../images/sidebar_arrow_right.png") no-repeat;
	background-size: 100% auto;
	transition: background 0.5s;
}
#slider_arrow_right:hover{
	background: url("../images/sidebar_arrow_right_2.png") no-repeat;	
	background-size: 100% auto;
	transition: background 0.5s;
}
#sidebar_box_wrapper{
	width: 90%;
	height: 250px;
	float: left;
	overflow:hidden;
}
#sidebar_box{
	width: 1200px;
	height: 250px;
	padding-right: 20px;
}
.box{
	width: 180px;
	height: 210px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: rgb(255,255,255);
	float: left;
}
.box_img>p{
	width: 160px;
	height: 120px;
	background: rgba(0,0,0,1);
}
.box_img a{
	transition: opacity 0.5s;
	opacity: 0.8; 
}
.box_img a:hover{
	transition: opacity 0.5s;
	opacity:1; 
}
.box_img{
	width: 160px;
	height: 120px;
	padding:10px;
	background: rgb(236,231,228);
}
.box_img img{
	width: 100%;
	height: auto;
}
.box_info>p{
	height: 25px;
	font-size: 90%;
	line-height: 35px;
	text-align: center;
	letter-spacing: 1px;
	color: rgb(219,183,201);
	font-family: 'LiSong Pro', SimSun, MingLiu, PMingLiU, PingFangTC-Thin, 'Microsoft JhengHei','Noto Sans TC';
}
.box_info>hr{
	width: 50%;
    border: none;
    border-top: 1px solid rgb(61, 17, 1);
}
.box_info>span{
	font-size: 120%;
	line-height: 20px;
	text-align: center;
	letter-spacing: 1px;
	color:rgb(147,126,99);
	font-family: 'LiSong Pro', SimSun, MingLiu, PMingLiU, PingFangTC-Thin, 'Microsoft JhengHei','Noto Sans TC';
	display: block;
}
